<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8">
    <title>Main</title>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <!-- 개발용 Vuejs CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="http://m.10x10.co.kr/lib/css/commonV20.css?v=1.82">
    <link rel="stylesheet" type="text/css" href="http://m.10x10.co.kr/lib/css/contentV20.css?v=1.82">
</head>
<body>
    <div id="content" class="content search_entrance">
        <!-- 검색어 입력 영역 -->
        <div id="app"></div>
    </div>
    <script src="/public/vue/Main/index.js?v=1.00"></script>
</body>
</html>